<head>
  <link href="login.scss" type="text/css">
  <script src="https://use.fontawesome.com/09bbfa620e.js"></script>
</head>
<script>
</script>
<body>
<div class="container">
<div class="contentwrap">
  <div class="ppage-header">
    <h2 class="hheader">로그인</h2>
    <hr class="linee">
  </div>
   <div class="form-horizontal offset-3">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                
              
                <div class="form-group">
                  
                  <label for="inputEmail" class="col-sm-2 control-label" style="text-align: left;">이메일</label>
                  <div class="col-sm-8">
                  <%= f.email_field :email, autofocus: true, class: "form-control" , placeholder: "likelion@likelion"%>
                  <p class="help-block">반드시 사용중인 이메일주소를 입력해주세요. 비밀번호 분실 시 이메일을 통해 재설정이 가능합니다.</p>
                  <p class="help-block">회원가입시 만든 이메일주소를 입력해주세요. </p>
                  </div>
                </div>
                
                 

                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label" style="text-align: left;">비밀번호</label>
                  <div class="col-sm-8">
                     <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-8">
                        <% if devise_mapping.rememberable? %>
                    <div class="form-input">
                        <%= f.check_box :remember_me %>
                        <%= f.label :기억하기 %>
                    </div>
                        <% end %>
                    </div>
                </div>
    
                 <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                      <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                 </div>

    
              <% end %>
    
        <%#    <%= render "devise/shared/links" %>
    </div>

</div>
</div>

<footer class="footer" id="page_footer">
      <div class="container">
        <center>
        <p class="footer_text">이용약관 | 개인정보 취급방침 | 자주 묻는 질문 | 수수료</p>
        </center>
      </div>
</footer>
