<!DOCTYPE HTML>
<html>
  <head>
    
    <link href="mypage.scss" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800' type='text/css'>
    
    <script>
    $(document).ready(function() {
      
        function toggleSidebar() {
          $(".button").toggleClass("active");
          $("main").toggleClass("move-to-left");
          $(".sidebar-item").toggleClass("active");
        }
      
        $(".button").on("click tap", function() {
          toggleSidebar();
        });
      
        $(document).keyup(function(e) {
          if (e.keyCode === 27) {
            toggleSidebar();
          }
        });
      
      });    
  /*    // 통합 모달 스크립트
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("mybtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
   
    
      // 마이페이지 네비게이션바 에이젝스
   $(function(){
       $("#my_propose").click(function(){
         $.ajax({
             type: 'get' , 
             url: '/mypage/my_propose' ,
             dataType : 'html' ,
             success: function(data) {
               $("#listDiv").html(data);
               }
             });
       })
       
       $("#other_propose").click(function(){
         $.ajax({
             type: 'get' , 
             url: '/mypage/other_propose' ,
             dataType : 'html' ,
             success: function(data) {
               $("#listDiv").html(data);
               }
             });
       })
       
       
   })  */
//사이드 메뉴

 
    </script>
  
  
    
    
  </head>
  
  <main>
    <nav>
      <div class="main-nav">
        <li><img src="/assets/로고.jpg" height=40px></li>
         <div class="nav-right hidden-xs">
        <div class="button" id="btnn">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
      </div>
      <!-- nav-right -->
      </div>

    </nav>
    
  
  
    <div class="container allbox" style="margin-top:3rem">
      
      <div class="top-box">
      
          <!--여기가 프로필사진나오는 부분-->
          <div class="left-box">
                
                <% if current_user.image == nil %>
                  <img class="circle" src="/assets/basic image.jpg" alt="Card image cap">
                      <%= form_tag mypage_profile_path, method: 'post', multipart: true, :class => "input_image" do %>
                          <%= file_field_tag 'image' %>
                          <%= submit_tag '업로드 하기', :class => "btn profile_btn" %>
                      <% end %>
                <% else %>
                  <img class="circle" src="<%= current_user.image %>" alt="프로필 사진을 업로드 하세요">
                    <%= form_tag mypage_profile_path, method: 'post', multipart: true, :class => "input_image" do %>
                        <%= file_field_tag 'image' %>
                        <%= submit_tag '업로드 하기', :class => "btn profile_btn" %>
                    <% end %>
                <% end %>
          </div>  
                
                
      
      
          <div class="cen-box" >
            <h2 style="text-align: rigth;"><%= current_user.name %></h2>
            <p><%= @u_info.where(:user_id => current_user.id).take.age %>년생</p>
            <p><%= @u_info.where(:user_id => current_user.id).take.school_name %></p>
            <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/core_update' ">수정하기</button>
          </div>
          

          
          <div class="right-box">
            <% if @u_info.where(:user_id => current_user.id).take.one_time == nil %>
                     <h4 style="text-align: left; margin-left:0px; font-weight:bold">유형검사 하세요!</h4>
                    <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/type_index'">입력하러 가기</button>
                   
                  <% else %>
          
                        <h2 style="text-align: left;"><%= @u_info.where(:user_id => current_user.id).take.aa %>형</h2>
                        <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/type_edit'">수정하기</button>
                    
                  <% end %>
          
          </div>
      </div>
      
      <!-- 네브바 -->
      <div class="container mypage_list">
        <%= link_to "룸메 신청 현황", mypage_my_propose_path, :remote => true, class: "list_item only_text" %>
        <%= link_to "룸메 대기 현황", mypage_other_propose_path, :remote => true, class: "list_item only_text" %>
        <%= link_to "쪽지함", mypage_all_chat_path, :remote => true, class: "list_item only_text col-sm-offset-1" %>
      </div>
      <hr class="linee">
      <div id="listDiv">
        
        <%= render :partial => 'mypage/my_propose' %>
      </div>
      
      
      <br>
      <br>
      <br>
      
      <!--<h2 class="col-sm-6 ">쪽지함</h2><br><br>-->
      
        <%# <h1><%= current_user.id %>
        <!--의 채팅방, 여기서 채팅방들을 보여줄거야</h1>-->
    
    
<!--<%#       <% @chat1.each do |x| %>
    <%#      <h3><a href = "/chat/<%= x.recipient_id %>"><%#<%= x.recipient_id %>과의 채팅방 </a></h3><br>
    <%#   <% end %>
     
      
      
    <%#  <% @chat2.each do |x| %>
    <%#  <h3><a href = "/chat/<%= x.sender_id %>"><%#<%= x.sender_id %>과의 채팅방</a></h3><br>
    <%#  <% end %>
      <hr class="linee">  
-->
      
        
    </div>
  
  </main>
     <div class="sidebar">
         <ul class="main-nav new-user">
                <%if current_user.nil?%>
                  <li><%= link_to '로그인', new_user_session_path %></li>
                  <li><%= link_to '회원가입', new_user_registration_path %></li>
                <%else%>
                  <li><%= link_to('Logout', destroy_user_session_path, method: :get) %> </li>
          </ul>
          	<div class="portfoliocard">
              	<div class="profile_picture">
              	  <img class="small_img" src="<%= current_user.image %>" alt="">
              	  <div id="bottom-head">
              	    
              	  </div>
              	</div>
              	
              	
              	<div class="right_col">
              		<h2 class="name" onclick="location.href='/mypage/index/<%= current_user.id%>'"><%= current_user.name %></h2>
              		<ul class="sidebar-list">
              		    <li class="sidebar-item"><a href="/main/home" class="sidebar-anchor">홈</a></li>
                      <li class="sidebar-item"><a href="/main/haveroom" class="sidebar-anchor">방으로 찾기</a></li>
                      <li class="sidebar-item"><a href="/main/school" class="sidebar-anchor">기숙사로 찾기</a></li>
                      <li class="sidebar-item"><a href="/main/nhaveroom" class="sidebar-anchor">붕:신 찾기</a></li>
                  </ul>
              	</div>
              <%end%>	
        </div>
          	

